/* Active Admin CSS */
// Normalize
@import "../../../../vendor/assets/stylesheets/active_admin/normalize";

// Partials
@import "typography";
@import "header";
@import "forms";
@import "components/comments";
@import "components/flash_messages";
@import "components/date_picker";
@import "components/tables";
@import "batch_actions";
@import "modal_dialog";
@import "blank_slates";
@import "breadcrumbs";
@import "dropdown_menu";
@import "buttons";
@import "grid";
@import "links";
@import "pagination";
@import "panels";
@import "columns";
@import "scopes";
@import "status_tags";
@import "table_tools";
@import "index_list";
@import "unsupported_browser";
@import "tabs";
@import "pages/logged_out";
@import "structure/footer";
@import "structure/main_structure";
@import "structure/title_bar";

body {
  @include sans-family;
  line-height: 1.5;
  font-size: 72%;
  background: $body-background-color;
  color: $text-color;
}
